html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 20px;
  grid-auto-flow: dense;
}

.container > .box {
  background-color: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #FFF;
  transition: .5s;
}

.content > h2 {
  margin-top: -10px;
}

.container > .box {
  background: #108897;
}
.container > .box:hover {
  background: #b81276;
}

.container > .box img {
  max-width: 100px;
  margin-bottom: 10px;
}

.container > .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
  margin-left: 0;
}
.container > .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
.container > .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
  margin-left: 0;
}

.container > .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
  }
  .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
